{% extends "client/base_client.html" %}
{% block title %}Appointment Has Been Denied {% endblock %} <!-- Tab title -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}   

    <main class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">

        <!-- Outside container -->
         <div style="max-width: 900px; width: 100%; text-align: center;">

            <!-- Container for logo on left and text on right -> stacked on mobile -->
                    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center mb-4">

                        <!-- Container for Logo -->
                        <div class=" mb-3 mb-md-0 me-md-4">
                            <img src="{% static 'images/logo.png' %}" alt="Logo" width="200px" >
                        </div>

                        <!-- Container for Text-->
                        <div class="text-center text-md-start">
                            <h1 class="mb-2">Appointment Has Been Denied</h1>
                            <p class="fs-4 mb-0">The request has been removed from pending appointments</p>                            
                        </div>

                    </div>
                        
                    <!-- Container for Close Button -->
                    <div>
                        <a href="/client/dashboard" class="btn btn-custom px-4 py-2 rounded-pill">Close</a>
                    </div>

         </div> <!-- close outer container-->       
    </main> <!-- close main -->
    
{% endblock %}