{% extends "base.html" %}

{% block content %}
<div class="container text-center py-5">
    <h1 class="mb-4">Confirm Your Email</h1>
    <p class="lead">Click the button below to confirm your email address and activate your account.</p>

    <form method="post">
        {% csrf_token %}
        
    <input type="hidden" name="next" value="{% url 'client_dashboard' %}">
    <button type="submit" class="btn btn-primary btn-lg mt-3" style="background-color: #24665f; border-color: #24665f; color: #ffffff;">Confirm Email</button>
    </form>
</div>
{% endblock %}