{% load static %}
<nav class="navbar navbar-expand-lg border-bottom" style="background-color: #5a7a73;">
  <div class="container-fluid px-4">
    
    <!-- Logo -->
    <a class="navbar-brand text-white d-flex align-items-center" href="{% url 'home' %}">
      <img src="{% static 'images/logo.png' %}" alt="Law Office of Lydia A. Suprun" style="width: 100px; height: 100px;" class="me-3">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
        <li class="nav-item"><a class="nav link" href="{% url 'login' %}">Login</a></li>
        <li class="nav-item"><a class="btn btn-primary ms-lg-2" href="{% url 'schedule' %}">Schedule</a></li>
      </ul>
    </div>
  </div>
</nav>
