{% load static %}

<style>

/* Page header */
.schedule-page-header-card {
    background-color: #e8f2f0;
    width: 100%;
}
.schedule-page-header {
    font-family: san-serif;
    text-align: center;
    padding: 2rem 3rem;
    font-size: 2.5rem;
    font-weight: 400;
}

/* Schedule section for widget */
.schedule-container {
    background-color: #a8bfbc;
    border-radius: 16px;
    padding: 0.5rem !important;
    max-width: 900px;
    margin: 1rem auto;  
}

/* Calendly wrapper */
.calendly-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    background: transparent !important;
}

/* Calendly widget */
.calendly-inline-widget {
    width: 100% !important;
    height: 1000px; 
    border: none;
    border-radius: 12px;
}

/* Remove iframe overflow and borders */
.calendly-inline-widget iframe {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
}


/* Mobile View to remove padding */
@media (max-width: 768px) {
    .schedule-container {
        padding: 0.5rem;   /* tighter padding on mobile */
        border-radius: 0;  /* optional: remove rounding if you want full-bleed */
    }

    .calendly-inline-widget {
        height: auto !important;
        min-height: 650px !important;
    }

    .calendly-inline-widget iframe {
    min-height: 665px !important;
    height: auto !important;
  }

}
</style>

<!-- Banner Heading -->
<div class="schedule-page-header-card">
    <h1 class="schedule-page-header">Schedule Appointment</h1>
</div>

<!-- Schedule a consult section -->
<div class="schedule-container">
    <div class="schedule-section">
            <!-- Calendly column -->
            <div class="column calendly-column">
                <div class="calendly-wrapper">
                    <div class="calendly-inline-widget" data-url="https://calendly.com/attorneylydia/30min?primary_color=2d7a73"></div>
                <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>

                </div>
            </div>

            <!-- Redirect users to a confirmation page -->
            <!-- Listens for an event sent by Calendly to indicate an appointment was scheduled-->
            <script>
                window.addEventListener("message", function(e){
                    if (e.data.event && e.data.event === "calendly.event_scheduled"){
                        window.location.href = "{% url 'admin_appointment_confirmation' %}"
                    }
                })
            </script>

        </div><!-- .schedule-section END -->
</div> <!-- .schedule-container END -->
